.wrapper {
  margin-bottom: 20px;
}

.title {
  color: black;
  font-weight: 500;
  margin-bottom: 20px;
}

.body__item {
  text-align: center;

  &--title {
    margin-bottom: 12px;
    font-size: 16px;
    color: #575962;
  }
}

.result__box {
  display: flex;
  align-items: center;
  color: black;
  width: fit-content;
  border: 1px solid #00000061;
  padding: 4px 12px;
  cursor: pointer;
  min-width: 124px;
  margin: 0 auto 12px;
}

.result__icon {
  color: black;
  margin-left: 20px;
}

.option__list {
  display: none;
  color: black;
  margin-top: 8px;
  border: 1px solid #a9a2a2;
  border-radius: 9px;
  width: fit-content;
  min-width: 120px;
  background-color: white;
}

.show__option {
  display: block;
  // animation: heightAscending linear 0.4s;
}

.option__item--top,
.option__item--bottom {
  padding: 4px 12px;
  cursor: pointer;

  &:hover {
    background-color: #ccc;
  }
}

.option__item--top {
  border-top-left-radius: 9px;
  border-top-right-radius: 9px;
}

.option__item--bottom {
  border-bottom-left-radius: 9px;
  border-bottom-right-radius: 9px;
}

.body__submit {
  background-color: var(--primary-color);
  height: fit-content;
  padding: 8px 16px;
  margin-left: 20px;
  border-radius: 12px;
  cursor: pointer;
}

@keyframes heightAscending {
  from {
    opacity: 0;
    transform: translateY(-100%);
  }
  to {
    opacity: 1;
    transform: translateY(0%);
    // height: 70%;
  }
}
